In [181]:
import pandas as pd

In [205]:
df=pd.read_csv('https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/MidTermProject/rent.csv', sep=';')

In [ ]:
df

In [184]:
#checking NAs
df.isna().sum()

regio1                 0
serviceCharge       6909
heatingType        44856
telekomTvOffer     32619
newlyConst             0
balcony                0
pricetrend          1832
noParkSpaces      175798
firingTypes        56964
hasKitchen             0
geo_bln                0
cellar                 0
baseRent               0
livingSpace            0
geo_krs                0
condition          68489
petsAllowed       114573
lift                   0
typeOfFlat         36614
geo_plz                0
noRooms                0
floor              51309
numberOfFloors     97732
noRoomsRange           0
garden                 0
dtype: int64

In [185]:
# cleaning NAs
df=df.dropna()

In [186]:
#lowercasing all columnnames
df.columns=df.columns.str.lower()

In [187]:
# only new buildings
df=df[df['newlyconst']==True]

In [188]:
#reseting index
df=df.reset_index()

In [189]:
#checking NAs
df.isna().sum()

index             0
regio1            0
servicecharge     0
heatingtype       0
telekomtvoffer    0
newlyconst        0
balcony           0
pricetrend        0
noparkspaces      0
firingtypes       0
haskitchen        0
geo_bln           0
cellar            0
baserent          0
livingspace       0
geo_krs           0
condition         0
petsallowed       0
lift              0
typeofflat        0
geo_plz           0
norooms           0
floor             0
numberoffloors    0
noroomsrange      0
garden            0
dtype: int64

In [190]:
#checking unqiue values in hitting
df['heatingtype'].unique()

array(['gas_heating', 'floor_heating', 'central_heating',
       'combined_heat_and_power_plant', 'heat_pump', 'district_heating',
       'wood_pellet_heating', 'solar_heating',
       'self_contained_central_heating', 'stove_heating',
       'electric_heating', 'oil_heating'], dtype=object)

In [191]:
#checking unqiue values in coditions
df['condition'].nunique()

7

In [192]:
firingtypes=pd.DataFrame(df['firingtypes'].unique())
firingtypes

                                                    0
0                                                 gas
1                                    district_heating
2                        environmental_thermal_energy
3                                      pellet_heating
4                                                 oil
5                                         heat_supply
6                                   natural_gas_light
7                                   natural_gas_heavy
8                combined_heat_and_power_fossil_fuels
9                                          bio_energy
10        combined_heat_and_power_regenerative_energy
11                                        electricity
12                                         geothermal
13                                     geothermal:gas
14                                         liquid_gas
15                                      local_heating
16                                    gas:electricity
17                                      solar_heating
18                                       hydro_energy
19                             steam_district_heating
20                    solar_heating:natural_gas_light
21           combined_heat_and_power_renewable_energy
22                                         wood_chips
23                                  solar_heating:gas
24           electricity:environmental_thermal_energy
25                          solar_heating:electricity
26                               gas:district_heating
27  solar_heating:natural_gas_light:environmental_...
28                                        wind_energy
29                       district_heating:electricity
30       gas:electricity:environmental_thermal_energy
31                                pellet_heating:wood
32                                     gas:wood_chips
33                       solar_heating:pellet_heating

In [193]:
df['firingtypes'].nunique()

34

In [194]:
#unifying first time use and all refurbishement, modernization and renovation in 1 thing

def condition_clean(state):
        if 'first_time_use' in state:
            state='first_time_use'
        elif state=='fully_renovated' or state=='refurbished' or state=='modernized':
            state='refurbished'
        else:
            state=state
        return state
    
#unifying types of firing

def firingtypes_clean(ftype):
    if 'gas' in ftype:
        ftype='gas'
    elif 'electricity' in ftype:
        ftype='electricity'
    elif 'solar_heating' in ftype or 'wind_energy' in ftype or'hydro_energy' in ftype or 'bio_energy' in ftype or 'geothermal' in ftype or 'thermal_energy' in ftype or 'renewable_energy' in ftype or 'regenerative_energy' in ftype:
        ftype='renewable_energy_heating'
    elif "pellet_heating" in ftype or 'fossil_fuels' in ftype or 'wood_chips' in ftype:
        ftype='pellet_heating'
    elif 'district_heating' in ftype:
        ftype='district_heating'
    else:
        ftype=ftype
    return ftype

#applying it    
df['condition']=df['condition'].apply(condition_clean)
df['firingtypes']=df['firingtypes'].apply(firingtypes_clean)

In [197]:
# checking new data
df['firingtypes'].groupby(df['firingtypes']).count()

firingtypes
district_heating             695
electricity                  143
gas                         1155
pellet_heating               248
renewable_energy_heating     386
Name: firingtypes, dtype: int64

In [201]:
#deleting thos rows where it is set incorrectly
df=df[df['firingtypes'].isin(['district_heating', 'electricity', 'gas', 'pellet_heating', 'renewable_energy_heating'])].reset_index()

ValueError: cannot insert level_0, already exists

In [202]:
df

,level_0,index,regio1,servicecharge,heatingtype,telekomtvoffer,newlyconst,balcony,pricetrend,noparkspaces,...,condition,petsallowed,lift,typeofflat,geo_plz,norooms,floor,numberoffloors,noroomsrange,garden
0,0,14,Nordrhein_Westfalen,215.0,gas_heating,ONE_YEAR_FREE,True,True,3.76,1.0,...,first_time_use,negotiable,True,ground_floor,44229,3.0,0.0,4.0,3,False
1,1,77,Berlin,150.0,floor_heating,ONE_YEAR_FREE,True,True,6.60,1.0,...,first_time_use,no,True,apartment,10179,2.0,3.0,5.0,2,False
2,2,130,Nordrhein_Westfalen,223.0,central_heating,ONE_YEAR_FREE,True,True,3.78,1.0,...,mint_condition,no,True,roof_storey,33607,2.5,4.0,4.0,2,False
3,3,281,Bayern,190.0,central_heating,ONE_YEAR_FREE,True,True,5.08,1.0,...,refurbished,no,True,maisonette,81476,1.5,2.0,3.0,1,False
4,4,366,Nordrhein_Westfalen,125.0,floor_heating,ONE_YEAR_FREE,True,True,4.24,1.0,...,first_time_use,no,False,apartment,51427,3.0,1.0,2.0,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,2709,268625,Bayern,160.0,floor_heating,ONE_YEAR_FREE,True,True,5.20,1.0,...,first_time_use,no,True,apartment,91301,2.0,1.0,4.0,2,False
2623,2710,268722,Sachsen,165.0,floor_heating,ONE_YEAR_FREE,True,True,4.87,1.0,...,first_time_use,negotiable,True,apartment,4229,3.0,4.0,5.0,3,False
2624,2711,268792,Bayern,310.0,floor_heating,ONE_YEAR_FREE,True,True,6.02,2.0,...,first_time_use,negotiable,True,roof_storey,91560,3.0,2.0,2.0,3,False
2625,2712,268821,Rheinland_Pfalz,80.0,central_heating,ON_DEMAND,True,True,3.54,1.0,...,first_time_use,no,False,apartment,56281,2.0,1.0,2.0,2,False
2626,2713,268827,Niedersachsen,200.0,central_heating,ONE_YEAR_FREE,True,True,4.30,1.0,...,first_time_use,no,True,apartment,30900,2.5,1.0,2.0,2,False