In [68]:
import pandas as pd

url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
shark_attack_df = pd.read_excel(url)

from scipy.stats import pearsonr

In [76]:
# Remove rows with null values in the column 'Year'
selected_column = 'Year'
shark_attack_df_without_null_row = shark_attack_df.dropna(subset=[selected_column])

#columns to remove 
selected_columns = ['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'Time', 'Type',"Time", 'Unnamed: 11', 'Source',
       'original order', 'Unnamed: 21', 'Unnamed: 22']
shark_attack_df_without_null_col = shark_attack_df_without_null_row.drop(columns = selected_columns)

# Conversion Year column from float to integer 

shark_attack_df_without_null_col['Year'] = shark_attack_df_without_null_col['Year'].astype(int)

sharky = shark_attack_df_without_null_col

#filtered only 5 years
sharky_final=sharky[sharky["Year"]<=2023]
sharky_final=sharky[sharky["Year"]>=2019]
sharky_final

#cleaning the countries

def countries_clean(country):
    if country in ['Mexico', 'MeXICO']:
        sharky_final["Country"]='MEXICO'
    elif country in ['New Zealand']:
        country='NEW ZEALAND'
    elif country=='TURKS and CaICOS':
        country='TURKS AND CAICOS'
    elif country=='South Africa':
        country="SOUTH AFRICA"
    return country
    
sharky_final["Country"]=sharky_final["Country"].apply(countries_clean)

#clean genders
def gender_clean(gender):
    if gender==" M":
        gender='M'
    return gender

sharky_final["Sex"]=sharky_final["Sex"].apply(gender_clean)

#cleaning injuries so oly one FATAL spelling
def injury_clean(injury):
    if injury in ['Fatal','Fatal, bite to leg, shoulder and head','Presumed fatal, body not recovered','FATAL, Multiple injuries','Fatal attack','Presumed fatal  PROVOKED INCIDENT']:
        injury="FATAL"
    return injury

sharky_final["Injury"]=sharky_final["Injury"].apply(injury_clean)

#cleaning age so there are only numbers and if 2 people - we count as 1 case - so left only the oldest (only 4 cases). If Teen - say it's 19 - like a top of the youngest group probs
#if 60s =>60

def age_clean (age):
    if age=='30s':
        age=30
    elif age=='20/30':
        age=30
    elif age=='20s':
        age=20
    elif age=='!2':
        age=2
    elif age=='50s':
        age=50
    elif age=='40s':
        age=40
    elif age in['teen', 'Teen']:
        age=19
    elif age in ['M','!!']:
        age=0
    elif age=='!6':
        age=6
    elif age=='45 and 15':
        age=45
    elif age=='28 & 22':
        age=28
    elif age=='60s':
        age=60
    elif age=="20's":
        age=20
    elif age=='9 & 60':
        age=60
    elif age=='22, 57, 31':
        age=57
    elif age=='':
        age=0
    return age
    
sharky_final["Age"]=sharky_final["Age"].apply(age_clean)

# Remove all countries from Sharky other than USA, Australia and South Africa 

countries_of_interest = ['USA', 'AUSTRALIA', 'SOUTH AFRICA']
sharky_v2 = sharky_final[sharky_final['Country'].isin(countries_of_interest)]

sharky_v2 # Name of new df, which includes exclusively data from USA, Australia, South Africa 

#dropped NaNs in Injuries, State
sharky_v2=sharky_v2.dropna(subset=['Injury'])
sharky_v2=sharky_v2.dropna(subset=['State'])
sharky_v2=sharky_v2.dropna(subset=['Location'])

#filled names with "not known"
sharky_v2['Name']=sharky_v2['Name'].fillna("not known")

#filling Sex with mode (males)
sex_mode=sharky_v2['Name'].mode()
sharky_v2['Sex']=sharky_v2['Sex'].fillna(sex_mode.item())

#filling Sex with mode (surfing)
activity_mode=sharky_v2['Activity'].mode()
sharky_v2['Activity']=sharky_v2['Activity'].fillna(activity_mode.item())

#filling age with median (91 missing out of 397) - median is 30 years
sharky_v2['Age']=[int(age) if type(age)==str else age for age in sharky_v2["Age"]] #made it all int aside from nan
age_median=sharky_v2['Age'].median()
sharky_v2['Age']=sharky_v2['Age'].fillna(age_median)

#filling species with mode - we don't need this for analysis, but to make sure there are no NaNs

sharky_v2.columns=['Species' if name=='Species ' else name for name in sharky_v2.columns]
speices_mode=sharky_v2['Species'].mode()
sharky_v2['Species']=sharky_v2['Species'].fillna(speices_mode.item())

#usa_s_mode=usa_df['Species'].mode()

# Analyze attacks by month. Note: given that data is analyzing a sample with input from 3 continents, 
# month does not necessarily = season. i.e. summer in USA is in a different month to summer in Australia
# if we believe shark attacks might be seasonal (hypothesis), we should separate the data by country 

# Convert 'Date' column to datetime

sharky_v2['Date'] = pd.to_datetime(sharky_v2['Date'], errors='coerce')

# Extract month from the 'Date' column

sharky_v2['Month'] = sharky_v2['Date'].dt.month_name()

# sorting injuries according to severity scale
def sorting_injuries(injury):
    if type(injury) != str:
        print(injury)
    if 'fatal' in injury.lower():
        return 'fatal'
    else:
        return 'other'

sharky_v2.Injury.astype(str)
sharky_v2['Injury_Severity'] = sharky_v2['Injury'].apply(lambda x: sorting_injuries(x))
sharky_v2.head()

sharky_v2.loc[sharky_v2['Activity'].str.contains('ishing', case=False), 'Activity'] = 'Fishing'
sharky_v2.loc[sharky_v2['Activity'].str.contains('urfing', case=False), 'Activity'] = 'Surfing'
sharky_v2.loc[sharky_v2['Activity'].str.contains('oarding', case=False), 'Activity'] = 'Boarding'
sharky_v2.loc[sharky_v2['Activity'].str.contains('loating', case=False), 'Activity'] = 'Floating'
sharky_v2.loc[sharky_v2['Activity'].str.contains('iving', case=False), 'Activity'] = 'Diving'
sharky_v2.loc[sharky_v2['Activity'].str.contains('wimming', case=False), 'Activity'] = 'Swimming'

def sorting_activity(activity):
    if type(activity) != str:
        print(activity)
    if 'boarding' in activity.lower():
        return 'risky'
    elif 'fishing' in activity.lower():
        return 'high risk'
    elif 'diving' in activity.lower():
        return 'extreme risk'
    else:
        return 'minimum risk'

# Copied sharky_final into Sharky_inj
# dropped Rows where Injury=Nan
# Added column Injury_severity to sharky_inj
sharky_v2_act = sharky_v2.copy()
sharky_v2_act.dropna(subset=['Activity'],inplace=True)
sharky_v2_act.Activity.astype(str)
sharky_v2_act['Risk_Activity_Scale'] = sharky_v2_act['Activity'].apply(lambda x: sorting_activity(x))
sorting_activity

# created 2 DFs - one with only fatal attacks, one with only non-fatal attacks
sh_fatal = sharky_v2_act[sharky_v2_act['Injury_Severity'] == 'fatal']
sh_non_fatal = sharky_v2_act[sharky_v2_act['Injury_Severity'] == 'other']

# made a dict out of the value counts of the fatal DF 
fatal_dict = dict(sh_fatal['Risk_Activity_Scale'].value_counts())
fatal_dict

# Only displayed fatal Injuries and grouped by Sex
sharky_fatal = sharky_v2[sharky_v2['Injury_Severity'] == 'fatal']

# Calculating the % of fatal attacks correlated to the activity risk scale
print('Calculating the % of fatal attacks correlated to the activity risk scale')
print('')
for k,v in fatal_dict.items():
    all_fatal_attacks = sum(fatal_dict.values())
    print(f'{k}: {v/all_fatal_attacks*100}%')
    
# same for non fatal attacks -> dict, sum, %
non_fatal_dict = dict(sh_non_fatal['Risk_Activity_Scale'].value_counts())
non_fatal_dict

# creating a mini DF with just the information in the fatal- and non_fatal_dicts
fat_non_fat = pd.DataFrame([fatal_dict,non_fatal_dict]).T

# Using pearson correlation to check if fatal and non fatal attacks correlate to the same activity risks or 
# if certain activity risks produce fatalities than others 
# result: 97% correlation = activity risk has probably no influence on injury severity
injury_risk_rship, p_value = pearsonr(fat_non_fat[0],fat_non_fat[1])
print(f'Correlation Coefficient between fatality and activity type: {injury_risk_rship}')



print("FURTHER WORK WITH SHARKY_V2_ACT")

Calculating the % of fatal attacks correlated to the activity risk scale

minimum risk: 81.48148148148148%
risky: 11.11111111111111%
high risk: 3.7037037037037033%
extreme risk: 3.7037037037037033%
Correlation Coefficient between fatality and activity type: 0.9739750260106815
FURTHER WORK WITH SHARKY_V2_ACT

C:\Users\user\AppData\Local\Temp\ipykernel_5304\692450284.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharky_final["Country"]='MEXICO'
C:\Users\user\AppData\Local\Temp\ipykernel_5304\692450284.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharky_final["Country"]=sharky_final["Country"].apply(countries_clean)
C:\Users\user\AppData\Local\Temp\ipykernel_5304\692450284.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharky_final["Sex"]=sharky_final["Sex"].apply(gender_clean)
C:\Users\user\AppData\Local\Temp\ipykernel_5304\692450284.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharky_final["Injury"]=sharky_final["Injury"].apply(injury_clean)
C:\Users\user\AppData\Local\Temp\ipykernel_5304\692450284.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharky_final["Age"]=sharky_final["Age"].apply(age_clean)

In [30]:
# Only displayed fatal Injuries and grouped by Sex
sharky_fatal = sharky_v2[sharky_v2['Injury_Severity'] == 'fatal']
sharky_fatal.groupby(['Sex']).count()

,Date,Year,Country,State,Location,Activity,Name,Age,Injury,Species,Month,Injury_Severity
Sex,,,,,,,,,,,,
F,4,4,4,4,4,4,4,4,4,4,4,4
M,20,23,23,23,23,23,23,23,23,23,20,23

In [31]:
sharky_fatal.groupby(['Country']).count()

,Date,Year,State,Location,Activity,Name,Sex,Age,Injury,Species,Month,Injury_Severity
Country,,,,,,,,,,,,
AUSTRALIA,15,17,17,17,17,17,17,17,17,17,15,17
SOUTH AFRICA,3,3,3,3,3,3,3,3,3,3,3,3
USA,6,7,7,7,7,7,7,7,7,7,6,7

In [32]:
sharky_v2.groupby(['Country','Injury_Severity'])[['Date']].count()

                              Date
Country      Injury_Severity
AUSTRALIA    fatal              15
             other              85
SOUTH AFRICA fatal               3
             other              14
USA          fatal               6
             other             217

In [33]:
sharky_v2.groupby(['Country','Injury_Severity'])[['Age']].median()

                               Age
Country      Injury_Severity
AUSTRALIA    fatal            46.0
             other            30.0
SOUTH AFRICA fatal            38.0
             other            30.0
USA          fatal            56.0
             other            30.0

In [34]:
sharky_v2.groupby(['Activity','Injury_Severity'])[['Age']].median()

                                           Age
Activity                 Injury_Severity
Abalone diving           other            30.0
Body Boarding            other            41.5
Body Surfing             other            31.0
Body boarding            fatal            48.5
Body surfing             other             9.0
...                                        ...
Treading water           other            30.0
Wading                   other            21.0
Watching the sardine run other            30.0
Windsurfing              other            50.0
Wing Foil Surfing        other            42.0

[72 rows x 1 columns]

In [65]:
#calculate the fatality risk for each activity
risk_activity = sharky_v2_act.groupby(['Risk_Activity_Scale','Injury_Severity'])[['Injury_Severity']].count()
risk_activity

                                     Injury_Severity
Risk_Activity_Scale Injury_Severity
extreme risk        fatal                          1
                    other                          9
high risk           fatal                          1
                    other                         61
minimum risk        fatal                         22
                    other                        273
risky               fatal                          3
                    other                         20

In [75]:

sharky_v2_act.to_csv(r"C:\Users\user\Desktop\ironhack_study\quest\data-cleaning-pandas\sharky_v2_act.csv", index=False)