In [2]:
import pandas as pd

#uploading startups data

url = 'https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/quest/startups/tables/startups.csv'
startups=pd.read_csv(url, delimiter=',')
startups

,name,Valuation_US$_billions,Valuation_date,Industry,Country
0,1Password,6.80,July 2021[84],Password manager,Canada
1,58 Daojia,1.00,October 2015[124],NaN,China
2,5ire,1.50,July 2022[570],Technology,India
3,6sense,2.10,March 2021[266],Artificial intelligence,US
4,Acko,1.10,October 2021[418],Insurance,India
...,...,...,...,...,...
641,Ziroom,6.60,March 2020[87],Real estate technology,China
642,Zocdoc,1.80,August 2015[5],Healthcare,US
643,ZongMu Technology,11.00,June 2021[41],Self-driving cars,China
644,Zume,2.25,November 2018[259],"Food packaging, Logistics",US
645,Zuoyebang,1.00,July 2018[124],NaN,China

In [7]:
# uploading countries main

countries_main=pd.read_csv('https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/quest/startups/tables/countries_main(GDP%20etc).csv',delimiter=';')
countries_main

,Country,Year,rule_of_law,GDP_blnUSD,GDP_per_capita_tUSD,Population
0,Afghanistan,2022,0.330643,0.000,0.000000,41128771
1,Albania,2022,0.487371,18.012,6.337075,2842321
2,Algeria,2022,0.486329,168.195,3.745722,44903225
3,Angola,2022,0.426499,74.953,2.106073,35588987
4,Antigua and Barbuda,2022,0.631118,1.534,16.360398,93763
...,...,...,...,...,...,...
126,Uruguay,2022,0.713884,63.741,18.622505,3422794
127,Uzbekistan,2022,0.496016,72.762,2.101269,34627652
128,Vietnam,2022,0.489195,415.493,4.231656,98186856
129,Zambia,2022,0.449881,23.967,1.197292,20017675
130,Zimbabwe,2022,0.391414,27.806,1.703743,16320537

In [8]:
# uploading countries with innovtion index and tax
countries_tax_inn=pd.read_csv('https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/quest/startups/tables/countries_innovation_tax.csv', delimiter=';')
countries_tax_inn

                 Country  Innovation Score  Tax Score
0            Afghanistan               0.0        0.0
1                Albania              24.4        0.0
2                Algeria              16.7        0.0
3                 Angola              13.9        0.0
4    Antigua and Barbuda               0.0        0.0
..                   ...               ...        ...
126              Uruguay              29.2        0.0
127           Uzbekistan              25.3        0.0
128              Vietnam              34.2        0.0
129               Zambia              15.8        0.0
130             Zimbabwe              18.1        0.0

[131 rows x 3 columns]

In [28]:
# concating tables
countries_main=pd.concat([countries_main, countries_tax_inn.iloc[:, 1:]], axis=1)
countries_main.isnull().sum()
print(countries_main)

                 Country  Year  rule_of_law  GDP_blnUSD  GDP_per_capita_tUSD  \
0            Afghanistan  2022     0.330643       0.000             0.000000
1                Albania  2022     0.487371      18.012             6.337075
2                Algeria  2022     0.486329     168.195             3.745722
3                 Angola  2022     0.426499      74.953             2.106073
4    Antigua and Barbuda  2022     0.631118       1.534            16.360398
..                   ...   ...          ...         ...                  ...
126              Uruguay  2022     0.713884      63.741            18.622505
127           Uzbekistan  2022     0.496016      72.762             2.101269
128              Vietnam  2022     0.489195     415.493             4.231656
129               Zambia  2022     0.449881      23.967             1.197292
130             Zimbabwe  2022     0.391414      27.806             1.703743

     Population  Innovation Score  Tax Score  Innovation Score  Tax Score  \
0      41128771               0.0        0.0               0.0        0.0
1       2842321              24.4        0.0              24.4        0.0
2      44903225              16.7        0.0              16.7        0.0
3      35588987              13.9        0.0              13.9        0.0
4         93763               0.0        0.0               0.0        0.0
..          ...               ...        ...               ...        ...
126     3422794              29.2        0.0              29.2        0.0
127    34627652              25.3        0.0              25.3        0.0
128    98186856              34.2        0.0              34.2        0.0
129    20017675              15.8        0.0              15.8        0.0
130    16320537              18.1        0.0              18.1        0.0

     Innovation Score  Tax Score
0                 0.0        0.0
1                24.4        0.0
2                16.7        0.0
3                13.9        0.0
4                 0.0        0.0
..                ...        ...
126              29.2        0.0
127              25.3        0.0
128              34.2        0.0
129              15.8        0.0
130              18.1        0.0

[131 rows x 12 columns]

In [16]:
path='C:\\Users\\user\\Desktop\\ironhack_study\\quest\\startups\\tables\\countries_final.csv'
countries_main.to_csv(path, index=True)

In [21]:
startups

,name,Valuation_US$_billions,Valuation_date,Industry,Country
0,1Password,6.80,July 2021[84],Password manager,Canada
1,58 Daojia,1.00,October 2015[124],NaN,China
2,5ire,1.50,July 2022[570],Technology,India
3,6sense,2.10,March 2021[266],Artificial intelligence,US
4,Acko,1.10,October 2021[418],Insurance,India
...,...,...,...,...,...
641,Ziroom,6.60,March 2020[87],Real estate technology,China
642,Zocdoc,1.80,August 2015[5],Healthcare,US
643,ZongMu Technology,11.00,June 2021[41],Self-driving cars,China
644,Zume,2.25,November 2018[259],"Food packaging, Logistics",US
645,Zuoyebang,1.00,July 2018[124],NaN,China

In [23]:
startups.describe()

       Valuation_US$_billions
count              646.000000
mean                 4.140279
std                  9.780465
min                  0.000000
25%                  1.000000
50%                  1.870000
75%                  3.700000
max                140.000000

In [10]:
startups=startups.rename(columns={'Valuation_US$_billions':'Valuation_US_billions'})
startups

,name,Valuation_US_billions,Valuation_date,Industry,Country
0,1Password,6.80,July 2021[84],Password manager,Canada
1,58 Daojia,1.00,October 2015[124],NaN,China
2,5ire,1.50,July 2022[570],Technology,India
3,6sense,2.10,March 2021[266],Artificial intelligence,US
4,Acko,1.10,October 2021[418],Insurance,India
...,...,...,...,...,...
641,Ziroom,6.60,March 2020[87],Real estate technology,China
642,Zocdoc,1.80,August 2015[5],Healthcare,US
643,ZongMu Technology,11.00,June 2021[41],Self-driving cars,China
644,Zume,2.25,November 2018[259],"Food packaging, Logistics",US
645,Zuoyebang,1.00,July 2018[124],NaN,China

In [11]:
#counting the amount of startups within normal distribution to exclude the outl
IQL=startups['Valuation_US_billions'].quantile(0.75)-startups['Valuation_US_billions'].quantile(0.25)

if startups['Valuation_US_billions'].quantile(0.25)-1.5*IQL >=0:
    min_val=startups['Valuation_US_billions'].quantile(0.25)-1.5*IQL
else:
    min_val=0
    
max_val=startups['Valuation_US_billions'].quantile(0.75)+3*IQL

print('IQL=',IQL)
print('min_val=',min_val)
print('max_val=',max_val)

IQL= 2.7
min_val= 0
max_val= 11.8

In [12]:
count=0
for i in startups['Valuation_US_billions']:
    if i>=min_val and i<=max_val:
        count+=1
print(count)

612

In [13]:
#checking outl
df_outliners_max=startups.loc[(startups['Valuation_US_billions'] > max_val)]
df_outliners_max

df_outliners_min=startups.loc[(startups['Valuation_US_billions'] <1)]
print(df_outliners_min)

              name  Valuation_US_billions  Valuation_date  \
372  Nature's Fynd                    0.0  JulyÐ’Â 2021[21]

                    Industry Country
372  Consumer packaged goods      US

In [14]:
# getting final df

startups_cleaned=startups.loc[(startups['Valuation_US_billions']>=min_val) & (startups['Valuation_US_billions']<=max_val)]
startups_cleaned

,name,Valuation_US_billions,Valuation_date,Industry,Country
0,1Password,6.80,July 2021[84],Password manager,Canada
1,58 Daojia,1.00,October 2015[124],NaN,China
2,5ire,1.50,July 2022[570],Technology,India
3,6sense,2.10,March 2021[266],Artificial intelligence,US
4,Acko,1.10,October 2021[418],Insurance,India
...,...,...,...,...,...
641,Ziroom,6.60,March 2020[87],Real estate technology,China
642,Zocdoc,1.80,August 2015[5],Healthcare,US
643,ZongMu Technology,11.00,June 2021[41],Self-driving cars,China
644,Zume,2.25,November 2018[259],"Food packaging, Logistics",US
645,Zuoyebang,1.00,July 2018[124],NaN,China

In [35]:
#saving CSV for SQL for further work
path="C:\\Users\\user\\Desktop\\ironhack_study\\quest\\startups\\tables\\startups_cleaned.csv"
startups_cleaned.to_csv(path, index=True)

In [51]:
#checning the correlation between factors
startups_gr=pd.read_csv('https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/quest/startups/tables/startups_with%20size_group_12.csv')
startups_gr

#updated table from sql for countries
countries=pd.read_csv('https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/quest/startups/tables/countries_from_sql_for%20correlation.csv')

#concatingating with other table
full_table=pd.merge(startups_gr, countries, on='Country')
full_table

full_table.isnull().sum()
#full_table.count()

#cleaning nulls with "not known" for industries
full_table=full_table.fillna('not known')

full_table.isnull().sum()
full_table.nunique()

number                   611
name                     611
Valuation_US_billions    121
Valuation_date           571
Industry                 151
Country                   46
Size_group                 3
Year                       1
rule_of_law               46
GDP_blnUSD                44
GDP_per_capita_tUSD       44
Population                45
Innovation_Score          43
Tax_Score                 29
dtype: int64

In [42]:
full_table

,number,name,Valuation_US_billions,Valuation_date,Industry,Country,Size_group,Year,rule_of_law,GDP_blnUSD,GDP_per_capita_tUSD,Population,Innovation_Score,Tax_Score
0,0,1Password,6.80,July 2021[84],Password manager,Canada,huge,2022,0.799884,2189.790,56.94520,38454327,50.80,69.3
1,8,Ada,1.20,May 2021[399],Software,Canada,medium,2022,0.799884,2189.790,56.94520,38454327,50.80,69.3
2,35,ApplyBoard,3.20,June 2021[183],Educational technology,Canada,large,2022,0.799884,2189.790,56.94520,38454327,50.80,69.3
3,44,Assent Compliance,1.00,January 2022[446],Supply chain management,Canada,medium,2022,0.799884,2189.790,56.94520,38454327,50.80,69.3
4,55,Benevity,1.10,December 2020[429],Software as a service,Canada,medium,2022,0.799884,2189.790,56.94520,38454327,50.80,69.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,440,Printful,1.00,May 2021[524],Technology,Latvia,medium,2022,0.722524,40.830,22.06250,1850651,36.50,89.9
607,451,Rappi,5.25,July 2021[108],Transportation,Colombia,huge,2022,0.483858,319.290,6.15510,51874024,29.20,57.8
608,469,Rohlik,1.20,June 2021[414],Retail,Czech Republic,medium,2022,0.730000,290.000,27.53300,10533000,44.83,71.9
609,490,Sky Mavis,3.00,October 2021[211],Video games,Vietnam,large,2022,0.489195,415.493,4.23166,98186856,34.20,0.0
610,596,Wave,1.70,September 2021[324],Financial technology,Senegal,medium,2022,0.560840,30.039,1.73471,17316449,19.90,0.0

In [50]:
#calclating correlations
correlation_rule_of_law = full_table['Valuation_US_billions'].corr(full_table['rule_of_law'])
print('correlation_rule_of_law:', correlation_rule_of_law)

correlation_gdp = full_table['Valuation_US_billions'].corr(full_table['GDP_blnUSD'])
print('correlation_gdp :', correlation_gdp)

correlation_gdp_p_c = full_table['Valuation_US_billions'].corr(full_table['GDP_per_capita_tUSD'])
print('correlation_gdp_p_c:', correlation_gdp_p_c)

correlation_population = full_table['Valuation_US_billions'].corr(full_table['Population'])
print('correlation_population:', correlation_population)

correlation_inn_score = full_table['Valuation_US_billions'].corr(full_table['Innovation_Score'])
print('correlation_inn_score:', correlation_inn_score)

correlation_tax_score = full_table['Valuation_US_billions'].corr(full_table['Tax_Score'])
print('correlation_tax_score:', correlation_tax_score)

correlation_rule_of_law: 0.045616189743558196
correlation_gdp : 0.16317085727714595
correlation_gdp_p_c: 0.12152562939021763
correlation_population: -0.01850735483111268
correlation_inn_score: 0.14380781911707405
correlation_tax_score: 0.12276622942527876