In [36]:
import pandas as pd
import seaborn as sns
file_path = 'https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/MidTermProject/rent.csv'

# Try reading the file with alternative encodings
try:
    df = pd.read_csv(file_path, encoding='utf-8', sep=';')
except UnicodeDecodeError:
    try:
        df = pd.read_csv(file_path, encoding='latin-1',  sep=';')
    except UnicodeDecodeError:
        df = pd.read_csv(file_path, encoding='ISO-8859-1',  sep=';')

In [37]:
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,energyEfficiencyClass
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,NaN
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,NaN
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,NaN
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,other,9599,3.0,86.0,3.0,NaN,3,False,2,NaN
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,NaN

In [38]:
 # Perform additional formatting (lowercase, strip and replace spaces with underscores)
df.columns = [name.strip().replace(" ", "_").lower() for name in df.columns]

In [39]:
df.columns

Index(['regio1', 'servicecharge', 'heatingtype', 'telekomtvoffer',
       'telekomhybriduploadspeed', 'newlyconst', 'balcony', 'picturecount',
       'pricetrend', 'telekomuploadspeed', 'totalrent', 'yearconstructed',
       'scoutid', 'noparkspaces', 'firingtypes', 'haskitchen', 'geo_bln',
       'cellar', 'yearconstructedrange', 'baserent', 'housenumber',
       'livingspace', 'geo_krs', 'condition', 'interiorqual', 'petsallowed',
       'street', 'streetplain', 'lift', 'baserentrange', 'typeofflat',
       'geo_plz', 'norooms', 'thermalchar', 'floor', 'numberoffloors',
       'noroomsrange', 'garden', 'livingspacerange', 'energyefficiencyclass'],
      dtype='object')

In [40]:
def null_check(df):
    print(f'Total null values per row: \n{df.isnull().sum(axis=1)}\n')
    print(f'Total null values per column: \n{df.isnull().sum()}\n')

In [41]:
null_check(df)

Total null values per row:
0         3
1         8
2         4
3         8
4         8
         ..
268845    7
268846    7
268847    3
268848    4
268849    9
Length: 268850, dtype: int64

Total null values per column:
regio1                           0
servicecharge                 6909
heatingtype                  44856
telekomtvoffer               32619
telekomhybriduploadspeed    223830
newlyconst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomuploadspeed           33358
totalrent                    40517
yearconstructed              57045
scoutid                          0
noparkspaces                175798
firingtypes                  56964
haskitchen                       0
geo_bln                          0
cellar                           0
yearconstructedrange         57045
baserent                         0
housenumber                  71018
livingspace                      0
geo_krs                          0
condition                    68489
interiorqual                112665
petsallowed                 114573
street                           0
streetplain                  71013
lift                             0
baserentrange                    0
typeofflat                   36614
geo_plz                          0
norooms                          0
thermalchar                 106506
floor                        51309
numberoffloors               97732
noroomsrange                     0
garden                           0
livingspacerange                 0
energyefficiencyclass       191063
dtype: int64

In [42]:
def dup_check(df):
    print(f'Duplicates found: {df.duplicated().any()}\n')
    print(f'Number of duplicates: {df.duplicated().sum()}\n')

In [43]:
dup_check(df)

Duplicates found: False

Number of duplicates: 0

In [44]:
df = df[(df['newlyconst']== True)]

In [45]:
df

,regio1,servicecharge,heatingtype,telekomtvoffer,telekomhybriduploadspeed,newlyconst,balcony,picturecount,pricetrend,telekomuploadspeed,...,typeofflat,geo_plz,norooms,thermalchar,floor,numberoffloors,noroomsrange,garden,livingspacerange,energyefficiencyclass
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,NaN
14,Nordrhein_Westfalen,215.00,gas_heating,ONE_YEAR_FREE,10.0,True,True,12,3.76,2.4,...,ground_floor,44229,3.0,NaN,0.0,4.0,3,False,4,NaN
29,Mecklenburg_Vorpommern,104.02,district_heating,ONE_YEAR_FREE,NaN,True,True,13,3.72,40.0,...,raised_ground_floor,19055,2.0,71.53,NaN,NaN,2,False,2,NaN
48,Schleswig_Holstein,121.50,NaN,NaN,NaN,True,True,2,3.90,NaN,...,NaN,25379,3.0,65.00,2.0,2.0,3,False,4,B
69,Sachsen,190.00,floor_heating,ONE_YEAR_FREE,NaN,True,True,14,2.88,40.0,...,ground_floor,1097,3.0,51.30,0.0,NaN,3,False,3,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268806,Baden_W?rttemberg,400.00,district_heating,NaN,NaN,True,True,8,3.99,NaN,...,penthouse,68305,4.0,NaN,1.0,4.0,4,True,7,NaN
268809,Nordrhein_Westfalen,189.65,heat_pump,NaN,NaN,True,True,0,3.78,NaN,...,NaN,51491,2.0,NaN,NaN,NaN,2,False,2,NaN
268821,Rheinland_Pfalz,80.00,central_heating,ON_DEMAND,NaN,True,True,14,3.54,2.4,...,apartment,56281,2.0,NaN,1.0,2.0,2,False,3,NaN
268827,Niedersachsen,200.00,central_heating,ONE_YEAR_FREE,10.0,True,True,10,4.30,2.4,...,apartment,30900,2.5,NaN,1.0,2.0,2,False,4,NaN
268848,Nordrhein_Westfalen,175.00,heat_pump,NaN,NaN,True,True,16,4.39,NaN,...,apartment,51069,2.0,24.70,NaN,5.0,2,False,3,NO_INFORMATION

In [46]:
df = df.loc[:, ['baserent', 'regio1', 'heatingtype', 'balcony', 'noparkspaces', 'firingtypes', 'haskitchen',
       'cellar','livingspace', 'geo_krs', 'condition', 'petsallowed', 'lift',
       'geo_plz', 'norooms', 'floor', 'numberoffloors', 'garden', 'energyefficiencyclass']]

In [47]:
df

,baserent,regio1,heatingtype,balcony,noparkspaces,firingtypes,haskitchen,cellar,livingspace,geo_krs,condition,petsallowed,lift,geo_plz,norooms,floor,numberoffloors,garden,energyefficiencyclass
2,965.00,Sachsen,floor_heating,True,1.0,NaN,False,True,83.80,Dresden,first_time_use,NaN,True,1097,3.0,3.0,4.0,False,NaN
14,972.60,Nordrhein_Westfalen,gas_heating,True,1.0,gas,False,True,87.00,Dortmund,first_time_use,negotiable,True,44229,3.0,0.0,4.0,False,NaN
29,520.08,Mecklenburg_Vorpommern,district_heating,True,1.0,district_heating,False,True,47.28,Schwerin,first_time_use,NaN,True,19055,2.0,NaN,NaN,False,NaN
48,870.00,Schleswig_Holstein,NaN,True,NaN,pellet_heating,True,False,81.00,Steinburg_Kreis,NaN,NaN,False,25379,3.0,2.0,2.0,False,B
69,900.00,Sachsen,floor_heating,True,1.0,district_heating,False,True,74.80,Dresden,first_time_use,NaN,True,1097,3.0,0.0,NaN,False,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268806,2200.00,Baden_W?rttemberg,district_heating,True,1.0,district_heating,True,True,169.00,Mannheim,first_time_use,negotiable,True,68305,4.0,1.0,4.0,True,NaN
268809,371.43,Nordrhein_Westfalen,heat_pump,True,1.0,NaN,False,True,59.38,Rheinisch_Bergischer_Kreis,first_time_use,no,True,51491,2.0,NaN,NaN,False,NaN
268821,680.00,Rheinland_Pfalz,central_heating,True,1.0,gas,False,True,79.50,Rhein_Hunsr?ck_Kreis,first_time_use,no,False,56281,2.0,1.0,2.0,False,NaN
268827,990.00,Niedersachsen,central_heating,True,1.0,pellet_heating,True,False,89.00,Hannover_Kreis,first_time_use,no,True,30900,2.5,1.0,2.0,False,NaN
268848,840.00,Nordrhein_Westfalen,heat_pump,True,1.0,gas,False,True,70.00,K?ln,first_time_use,no,True,51069,2.0,NaN,5.0,False,NO_INFORMATION

In [48]:
df = df.reset_index()

In [49]:
df

,index,baserent,regio1,heatingtype,balcony,noparkspaces,firingtypes,haskitchen,cellar,livingspace,geo_krs,condition,petsallowed,lift,geo_plz,norooms,floor,numberoffloors,garden,energyefficiencyclass
0,2,965.00,Sachsen,floor_heating,True,1.0,NaN,False,True,83.80,Dresden,first_time_use,NaN,True,1097,3.0,3.0,4.0,False,NaN
1,14,972.60,Nordrhein_Westfalen,gas_heating,True,1.0,gas,False,True,87.00,Dortmund,first_time_use,negotiable,True,44229,3.0,0.0,4.0,False,NaN
2,29,520.08,Mecklenburg_Vorpommern,district_heating,True,1.0,district_heating,False,True,47.28,Schwerin,first_time_use,NaN,True,19055,2.0,NaN,NaN,False,NaN
3,48,870.00,Schleswig_Holstein,NaN,True,NaN,pellet_heating,True,False,81.00,Steinburg_Kreis,NaN,NaN,False,25379,3.0,2.0,2.0,False,B
4,69,900.00,Sachsen,floor_heating,True,1.0,district_heating,False,True,74.80,Dresden,first_time_use,NaN,True,1097,3.0,0.0,NaN,False,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21166,268806,2200.00,Baden_W?rttemberg,district_heating,True,1.0,district_heating,True,True,169.00,Mannheim,first_time_use,negotiable,True,68305,4.0,1.0,4.0,True,NaN
21167,268809,371.43,Nordrhein_Westfalen,heat_pump,True,1.0,NaN,False,True,59.38,Rheinisch_Bergischer_Kreis,first_time_use,no,True,51491,2.0,NaN,NaN,False,NaN
21168,268821,680.00,Rheinland_Pfalz,central_heating,True,1.0,gas,False,True,79.50,Rhein_Hunsr?ck_Kreis,first_time_use,no,False,56281,2.0,1.0,2.0,False,NaN
21169,268827,990.00,Niedersachsen,central_heating,True,1.0,pellet_heating,True,False,89.00,Hannover_Kreis,first_time_use,no,True,30900,2.5,1.0,2.0,False,NaN
21170,268848,840.00,Nordrhein_Westfalen,heat_pump,True,1.0,gas,False,True,70.00,K?ln,first_time_use,no,True,51069,2.0,NaN,5.0,False,NO_INFORMATION

In [50]:
null_check(df)

Total null values per row:
0        3
1        1
2        4
3        4
4        2
        ..
21166    1
21167    4
21168    1
21169    1
21170    1
Length: 21171, dtype: int64

Total null values per column:
index                        0
baserent                     0
regio1                       0
heatingtype               3045
balcony                      0
noparkspaces              6611
firingtypes               5328
haskitchen                   0
cellar                       0
livingspace                  0
geo_krs                      0
condition                 2433
petsallowed               9357
lift                         0
geo_plz                      0
norooms                      0
floor                     5238
numberoffloors            7018
garden                       0
energyefficiencyclass    11456
dtype: int64

In [51]:
df = df.dropna()

In [52]:
#checking unqiue values in hitting
df['heatingtype'].unique()

array(['central_heating', 'floor_heating', 'district_heating',
       'combined_heat_and_power_plant', 'gas_heating',
       'wood_pellet_heating', 'heat_pump',
       'self_contained_central_heating', 'solar_heating', 'stove_heating',
       'oil_heating', 'electric_heating'], dtype=object)

In [97]:
#checking unqiue values in coditions
df['condition'].unique()

array(['refurbished', 'first_time_use', 'mint_condition', 'well_kept'],
      dtype=object)

In [54]:
#checking unqiue values in coditions
df['firingtypes'].nunique()

37

In [55]:
#unifying first time use and all refurbishement, modernization and renovation in 1 thing

def condition_clean(state):
        if 'first_time_use' in state:
            state='first_time_use'
        elif state=='fully_renovated' or state=='refurbished' or state=='modernized':
            state='refurbished'
        else:
            state=state
        return state
    
#unifying types of firing

def firingtypes_clean(ftype):
    if 'gas' in ftype:
        ftype='gas'
    elif 'electricity' in ftype:
        ftype='electricity'
    elif 'solar_heating' in ftype or 'wind_energy' in ftype or'hydro_energy' in ftype or 'bio_energy' in ftype or 'geothermal' in ftype or 'thermal_energy' in ftype or 'renewable_energy' in ftype or 'regenerative_energy' in ftype:
        ftype='renewable_energy_heating'
    elif "pellet_heating" in ftype or 'fossil_fuels' in ftype or 'wood_chips' in ftype:
        ftype='pellet_heating'
    elif 'district_heating' in ftype:
        ftype='district_heating'
    else:
        ftype=ftype
    return ftype

In [56]:
#applying defined function for cleaning    
df['condition']=df['condition'].apply(condition_clean)
df['firingtypes']=df['firingtypes'].apply(firingtypes_clean)

C:\Users\user\AppData\Local\Temp\ipykernel_20728\2519932501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['condition']=df['condition'].apply(condition_clean)
C:\Users\user\AppData\Local\Temp\ipykernel_20728\2519932501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['firingtypes']=df['firingtypes'].apply(firingtypes_clean)

In [57]:
#checking energyefficiencyclass
print(df["energyefficiencyclass"].groupby(df["energyefficiencyclass"]).count())

#droping rows with NO_INFORMATION
df=df[df["energyefficiencyclass"]!='NO_INFORMATION'].reset_index()

energyefficiencyclass
A                 771
A_PLUS            677
B                 687
C                 102
D                  24
E                   3
F                   2
NO_INFORMATION    404
Name: energyefficiencyclass, dtype: int64

In [88]:
#cleaning two useless columns. And heatng type is removed as it's a copy of firing type
columns_needed=['baserent', 'regio1', 'balcony', 'noparkspaces', 'firingtypes', 'haskitchen',
       'cellar','livingspace', 'geo_krs', 'condition', 'petsallowed', 'lift',
       'geo_plz', 'norooms', 'floor', 'numberoffloors', 'garden', 'energyefficiencyclass']
df=df.loc[: , columns_needed]

In [89]:
#cheking spelling mistakes in regio1
df['regio1'].groupby(df['regio1']).count()

regio1
Baden-WÃ¼rttemberg         255
Bayern                    461
Berlin                    111
Brandenburg                73
Bremen                     13
Hamburg                    41
Hessen                    283
Mecklenburg_Vorpommern     13
Niedersachsen             172
Nordrhein_Westfalen       486
Rheinland_Pfalz           112
Saarland                   11
Sachsen                   138
Sachsen_Anhalt             40
Schleswig_Holstein         56
ThÃ¼ringia                   1
Name: regio1, dtype: int64

In [90]:
#clening misspellings

def regio1_clean(region):
    if region=='Baden_W?rttemberg':
        region='Baden-WÃ¼rttemberg'
    elif region=='Th?ringen':
        region='ThÃ¼ringia'
    else:
        region=region
    return region

In [91]:
#applying
df['regio1']=df['regio1'].apply(regio1_clean)

In [96]:
#cheking spelling mistakes in geo_krs
df['geo_krs'].groupby(df['geo_krs']).count()

for city in df['geo_krs'].unique():
    if "?" in city:
        print(city)

M?nchen
D?sseldorf
Mei?en_Kreis
N?rnberg
D?ren_Kreis
Alt?tting_Kreis
Oberallg?u_Kreis
Unterallg?u_Kreis
Bad_T?lz_Wolfratshausen_Kreis
B?blingen_Kreis
F?rstenfeldbruck_Kreis
Gro?_Gerau_Kreis
K?ln
M?nchengladbach
Osnabr?ck
M?hldorf_am_Inn_Kreis
T?bingen_Kreis
Osnabr?ck_Kreis
M?nster
R?gen_Kreis
M?nchen_Kreis
Stadtverband_Saarbr?cken_Kreis
Rhein_Hunsr?ck_Kreis
Erlangen_H?chstadt_Kreis
Bergstra?e_Kreis
Eichst?tt_Kreis
Neustadt_an_der_Weinstra?e
Kempten_Allg?u
G?ttingen_Kreis
Rendsburg_Eckernf?rde_Kreis
B?rde_Kreis
Minden_L?bbecke_Kreis
G?ppingen_Kreis
Wei?enburg_Gunzenhausen_Kreis
M?rkisch_Oderland_Kreis
S?dliche_Weinstra?e_Kreis
G?tersloh_Kreis
M?lheim_an_der_Ruhr
Bad_D?rkheim_Kreis
F?rth
L?rrach_Kreis
S?chsische_Schweiz_Osterzgebirge_Kreis
Zweibr?cken
Gie?en_Kreis
F?rth_Kreis
W?rzburg_Kreis
Schw?bisch_Hall_Kreis
Rotenburg_W?mme_Kreis
Wolfenb?ttel_Kreis
Teltow_Fl?ming_Kreis

In [92]:
#splitting df into numericals and categoricals
categoricals = df.select_dtypes(include=object)
numericals = df.select_dtypes(include = 'number')

In [93]:
categoricals

,regio1,firingtypes,geo_krs,condition,petsallowed,energyefficiencyclass
0,Bayern,gas,M?nchen,refurbished,no,A
1,Bayern,pellet_heating,Erding_Kreis,first_time_use,negotiable,B
2,Sachsen,district_heating,Leipzig,first_time_use,negotiable,B
3,Niedersachsen,district_heating,Braunschweig,first_time_use,negotiable,A
4,Sachsen,gas,Plauen,mint_condition,negotiable,A_PLUS
...,...,...,...,...,...,...
2261,Nordrhein_Westfalen,renewable_energy_heating,Siegen_Wittgenstein_Kreis,first_time_use,negotiable,A_PLUS
2262,Baden-WÃ¼rttemberg,district_heating,Ludwigsburg_Kreis,first_time_use,no,B
2263,Sachsen,district_heating,Leipzig,first_time_use,no,B
2264,Baden-WÃ¼rttemberg,renewable_energy_heating,T?bingen_Kreis,first_time_use,no,A_PLUS
2265,Bayern,gas,Forchheim_Kreis,first_time_use,no,A

In [21]:
numericals

,index,baserent,noparkspaces,livingspace,geo_plz,norooms,floor,numberoffloors
23,281,1680.00,1.0,91.00,81476,1.5,2.0,3.0
26,329,950.00,1.0,69.00,85435,2.0,1.0,2.0
30,366,1125.00,1.0,90.00,51427,3.0,1.0,2.0
31,369,1240.00,1.0,111.70,74906,4.0,4.0,5.0
32,373,1182.12,1.0,98.51,53117,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...
21099,267992,890.00,2.0,87.00,71665,3.0,3.0,3.0
21102,268049,1139.60,1.0,118.71,1067,4.0,2.0,5.0
21127,268320,1159.36,2.0,144.92,4159,4.0,1.0,5.0
21140,268464,1450.00,1.0,135.00,72127,5.5,1.0,2.0
21152,268625,575.00,1.0,58.00,91301,2.0,1.0,4.0

In [103]:
ordinals = categoricals[["energyefficiencyclass"]]
nominals = categoricals.drop(columns=["energyefficiencyclass"])

In [113]:
#checking how we will encode the ordinals
ordinals["energyefficiencyclass"].groupby(df["energyefficiencyclass"]).count()

energyefficiencyclass
A         771
A_PLUS    677
B         687
C         102
D          24
E           3
F           2
Name: energyefficiencyclass, dtype: int64

In [99]:
from sklearn.preprocessing import OrdinalEncoder

In [101]:
df['condition'].unique()

array(['refurbished', 'first_time_use', 'mint_condition', 'well_kept'],
      dtype=object)

In [109]:
enc = OrdinalEncoder(categories=[["A_PLUS", "A", "B", "C","D", "E", "F"]])

ordinals["energyefficiencyclass"] = enc.fit_transform(ordinals[["energyefficiencyclass"]])

C:\Users\user\AppData\Local\Temp\ipykernel_20728\701277608.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals["energyefficiencyclass"] = enc.fit_transform(ordinals[["energyefficiencyclass"]])

In [110]:
ordinals

      energyefficiencyclass
0                       1.0
1                       2.0
2                       2.0
3                       1.0
4                       0.0
...                     ...
2261                    0.0
2262                    2.0
2263                    2.0
2264                    0.0
2265                    1.0

[2266 rows x 1 columns]

In [111]:
nominals

,regio1,firingtypes,geo_krs,condition,petsallowed
0,Bayern,gas,M?nchen,refurbished,no
1,Bayern,pellet_heating,Erding_Kreis,first_time_use,negotiable
2,Sachsen,district_heating,Leipzig,first_time_use,negotiable
3,Niedersachsen,district_heating,Braunschweig,first_time_use,negotiable
4,Sachsen,gas,Plauen,mint_condition,negotiable
...,...,...,...,...,...
2261,Nordrhein_Westfalen,renewable_energy_heating,Siegen_Wittgenstein_Kreis,first_time_use,negotiable
2262,Baden-WÃ¼rttemberg,district_heating,Ludwigsburg_Kreis,first_time_use,no
2263,Sachsen,district_heating,Leipzig,first_time_use,no
2264,Baden-WÃ¼rttemberg,renewable_energy_heating,T?bingen_Kreis,first_time_use,no
2265,Bayern,gas,Forchheim_Kreis,first_time_use,no

In [ ]:
nominals = pd.get_dummies(nominals, dtype=int)

In [ ]:
nominals

In [ ]:
categorical = pd.concat([ordinals,nominals], axis=1)

In [ ]:
categorical

In [ ]:
final_df = pd.concat([numericals,ordinals,nominals], axis=1)

In [ ]:
final_df

In [ ]:
###X-y split (y is the target variable, in this case, "total claim amount")

In [ ]:
#X-y split

In [ ]:
X = final_df.drop("total_claim_amount", axis=1)

In [ ]:
y = final_df[["total_claim_amount"]]

In [ ]:
#train_test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [ ]:
#Standardize the data (after the data split!).

In [ ]:
final_df.hist(bins=20, figsize=(15, 15))

In [ ]:
from sklearn.preprocessing import PowerTransformer

scaler = PowerTransformer()

In [ ]:
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
y_train.hist()

In [ ]:
scaler.fit(y_train)

In [ ]:
y_train_scaled = scaler.transform(y_train)

In [ ]:
y_test_scaled = scaler.transform(y_test)

In [ ]:
#Model training

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm = LinearRegression()
model = lm.fit(X_train_scaled,y_train)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
#create prediction for test set

In [ ]:
y_pred = model.predict(X_test_scaled)

In [ ]:
y_pred = pd.DataFrame(y_pred)

In [ ]:
y_test = y_test.reset_index(drop=True)

In [ ]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [ ]:
residuals_df = resiudals_df.rename(columns={"total_claim_amount":"y_test", 0:"y_pred"})

In [ ]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [ ]:
residuals_df.head()

In [ ]:
#Calculating metrics

In [ ]:
mean_error = residuals_df["residual"].mean()

In [ ]:
mean_error

In [ ]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [ ]:
mse(y_test,y_pred)

In [ ]:
mae(y_test,y_pred)

In [ ]:
rmse = mse(y_test,y_pred, squared = False)
rmse

In [ ]:
from sklearn.metrics import r2_score