# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [53]:
import pandas as pd
df1=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [54]:
#cleaning the df1

df1.columns=[name.lower() for name in df1.columns]
df1.columns=[name.replace(" ","_") for name in df1.columns]
df1.rename(columns= {'st': 'state'}, inplace=True)

def gender_cleaning(x):
    if x in ("F","Femal","Female","female"):
        x="F"
    elif x in ("M","Male","Mal"):
        x="M"
    return x

df1["gender"]=df1["gender"].apply(gender_cleaning)

def state_cleaning(state):
    if state=="AZ":
        state="Arizona"
    elif state=="WA":
        state="Washington"
    elif state=="Cali":
        state="California"
    return state

df1["state"]=df1["state"].apply(state_cleaning)

df1["education"]=["Bachelor" if i=="Bachelors" else i for i in df1["education"]]

df1['customer_lifetime_value']=[ltv if type(ltv)==float else ltv.replace("%","") for ltv in df1['customer_lifetime_value']]

df1['vehicle_class']=["Luxury" if car in ["Sports Car", "Luxury SUV","Luxury Car"] else car for car in df1['vehicle_class']]

df1["customer_lifetime_value"] = df1["customer_lifetime_value"].astype(float)

df1["number_of_open_complaints"]=[nooc.split("/")[1] if type(nooc)!=float else nooc for nooc in df1["number_of_open_complaints"]]

df1["number_of_open_complaints"]=df1["number_of_open_complaints"].astype(float)

df1_new=df1.dropna(subset="customer")

df1_new["customer_lifetime_value"]=df1_new["customer_lifetime_value"].fillna(df1_new["customer_lifetime_value"].median())

gender_mode= df1_new["gender"].mode()

df1_new["gender"]=df1_new["gender"].fillna(gender_mode.item())

C:\Users\user\AppData\Local\Temp\ipykernel_20308\1088899518.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_new["customer_lifetime_value"]=df1_new["customer_lifetime_value"].fillna(df1_new["customer_lifetime_value"].median())
C:\Users\user\AppData\Local\Temp\ipykernel_20308\1088899518.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_new["gender"]=df1_new["gender"].fillna(gender_mode.item())

In [55]:
#cleaned the 2nd
df2.columns=[name.lower() for name in df2.columns]
df2.columns=[name.replace(" ","_") for name in df2.columns]
df2.rename(columns= {'st': 'state'}, inplace=True)

df2["gender"]=df2["gender"].apply(gender_cleaning)
df2["state"]=df2["state"].apply(state_cleaning)

df2["education"]=["Bachelor" if i=="Bachelors" else i for i in df2["education"]]
df2['customer_lifetime_value']=[ltv if type(ltv)==float else ltv.replace("%","") for ltv in df2['customer_lifetime_value']]
df2['vehicle_class']=["Luxury" if car in ["Sports Car", "Luxury SUV","Luxury Car"] else car for car in df2['vehicle_class']]
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].astype(float)
df2["number_of_open_complaints"]=[nooc.split("/")[1] if type(nooc)!=float else nooc for nooc in df2["number_of_open_complaints"]]
df2["number_of_open_complaints"]=df1["number_of_open_complaints"].astype(float)

df2_new=df2.dropna(subset="customer")
df2_new["customer_lifetime_value"]=df2_new["customer_lifetime_value"].fillna(df2_new["customer_lifetime_value"].median())
gender_mode= df2_new["gender"].mode()
df2_new["gender"]=df2_new["gender"].fillna(gender_mode.item())

In [57]:
#cleaned the 3rd
df3.columns=[name.lower() for name in df3.columns]
df3.columns=[name.replace(" ","_") for name in df3.columns]
df3.rename(columns= {'st': 'state'}, inplace=True)

df3["gender"]=df3["gender"].apply(gender_cleaning)
df3["state"]=df3["state"].apply(state_cleaning)

df3["education"]=["Bachelor" if i=="Bachelors" else i for i in df3["education"]]
df3['customer_lifetime_value']=[ltv if type(ltv)==float else ltv.replace("%","") for ltv in df3['customer_lifetime_value']]
df3['vehicle_class']=["Luxury" if car in ["Sports Car", "Luxury SUV","Luxury Car"] else car for car in df3['vehicle_class']]
df3["customer_lifetime_value"] = df3["customer_lifetime_value"].astype(float)
df3["number_of_open_complaints"]=df3["number_of_open_complaints"].astype(float)

df3_new=df3.dropna(subset="customer")
df3_new["customer_lifetime_value"]=df3_new["customer_lifetime_value"].fillna(df3_new["customer_lifetime_value"].median())
gender_mode= df3_new["gender"].mode()
df3_new["gender"]=df3_new["gender"].fillna(gender_mode.item())

In [59]:
df_merged=pd.concat([df1_new,df2_new,df3_new])

In [60]:
df_merged

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,5.881742e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [36]:
df_ext=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
df_ext

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [44]:
revenue_channel=df_ext.groupby('sales_channel')['customer_lifetime_value'].sum()

In [46]:
revenue_channel=revenue_channel.round()
print(revenue_channel)

sales_channel
Agent          33057888.0
Branch         24359201.0
Call Center    17364288.0
Web            12697633.0
Name: customer_lifetime_value, dtype: float64

In [51]:
pivot2=df_ext.pivot_table(index='gender',columns='education',values='customer_lifetime_value', aggfunc=sum)
pivot2=pivot2.round()
print(pivot2)

education    Bachelor     College     Doctor  High School or Below     Master
gender
F          13386258.0  12460108.0  1465702.0            13793600.0  3874600.0
M          12110062.0  12851725.0  1490482.0            12680914.0  3365559.0

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here